<form action="">
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="cc-no">Card Number</label>
                <input type="text" class="form-control" id="cc-no" placeholder="Credit Card Number">
            </div>        
        </div>   
    </div>
    <div class="row">
        <div class="col-md-6">
            <pay-dropdown [label]="'Expiration Month'" [selectLabel]="'Month'" [items]="monthNames"></pay-dropdown>
        </div>
        <div class="col-md-6">
            <pay-dropdown [label]="'Expiration Year'" [selectLabel]="'Year'" [items]="years" ></pay-dropdown>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <label for="cc-cvv">Security (or CVV) Code</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="Enter 3 or 4 digit security code">
            </div>
        </div>
    </div>
</form>